{% for product in clothes %}
<div class="col-md-4">
    <div class="product-item">
        <a href="/media/{{ product.image }}"><img src="/media/{{ product.image }}" alt="Картинка" height=""></a>
        <div class="down-content">
            <a href="#"><h4>{{ product.name }}</h4></a>
            <h6>{{ product.price }} &#8381;</h6>
            <p>{{ product.short_desc }}</p>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Обзоры (24)</span>
        </div>
    </div>
</div>
{% endfor %}

{% for product in shoes %}
<div class="col-md-4">

    <div class="product-item">
        <a href="/media/{{ product.image }}"><img src="/media/{{ product.image }}" alt="Картинка"></a>
        <div class="down-content">
            <a href="#"><h4>{{ product.name }}</h4></a>
            <h6>{{ product.price }} &#8381;</h6>
            <p>{{ product.short_desc }}</p>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Обзоры (24)</span>
        </div>
    </div>
</div>
{% endfor %}

{% for product in toys %}
<div class="col-md-4">

    <div class="product-item">
        <a href="/media/{{ product.image }}"><img src="/media/{{ product.image }}" alt="Картинка"></a>
        <div class="down-content">
            <a href="#"><h4>{{ product.name }}</h4></a>
            <h6>{{ product.price }} &#8381;</h6>
            <p>{{ product.short_desc }}</p>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Обзоры (24)</span>
        </div>
    </div>
</div>
{% endfor %}

